{% extends "layout_teacher.html" %}
{% block body %}
<div class="teacher">
   <div class="col-md-4 offset-md-4">
      <div class="card card-body">
         <form action="{{ url_for('update_homework', id=homework_data.homework_number) }}" method="POST">
            <div class="form-group">
               <label for="homework_description">Змініть опис ДЗ:</label>
               <input type="text" class="form-control" name="homework_description" placeholder="Опис ДЗ" value="{{ homework_data.homework_text }}">
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block">
                  Оновити
               </button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}