{% extends "layout_teacher.html" %}
{% block body %}
<div class="teacher">
   <h3>Звіт по оцінкам учня {{session['selected_student']}}</h3>
</div>
<div class="teacher">
</div>
<div class="col-md-8">
   <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
         <tr>
            <td>Предмет</td>
            <td>Середня оцінка</td>
         </tr>
      </thead>
      <tbody>
         {% for teacher in avg_grades %}
         <tr>
            <td>{{ teacher[0] }}</td>
            <td>{{ teacher[1] }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
</div>
</div>

{% endblock %}