<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Інформація про класи</title>
</head>

<body>
   <h1>Інформація про класи</h1>

   <table border="1">
      <thead>
         <tr>
            <th>Class ID</th>
            <th>Назва класу</th>
         </tr>
      </thead>
      <tbody>
         {% for classes in classes_data %}
         <tr>
            <td>{{ classes[0] }}</td>
            <td>{{ classes[1] }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>

</body>

</html>