<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
      id="bootstrap-css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('admin')}}">Головна</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
         aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('info_student') }}">Інформація про учнів</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('info_teacher') }}">Інформація про вчителів</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('info_classes') }}">Класи</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('info_subject') }}">Інформація про предмети</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('admin_schedule') }}">Розклад занять</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('timetable') }}">Штатний розпис</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('zvit_teacher') }}">Статистика по викладачам</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0" method="post" action="/logout">
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search"> -->
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/logout">Logout</button>
         </form>
      </div>
   </nav>
   
   <!--<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Python Flask Student Create, read, update and delete (CRUD) using PostgreSQL
         psycopg2 and dataTables bootstrap</a>
   </nav> -->

   <div class="container pt-4">
      {% block body %}
      {% endblock %}
   </div>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <script>
      const btnDelete = document.querySelectorAll('.btn-delete');
      if (btnDelete) {
         const btnArray = Array.from(btnDelete);
         btnArray.forEach((btn) => {
            btn.addEventListener('click', (e) => {
               if (!confirm('Are you sure you want to delete it?')) {
                  e.preventDefault();
               }
            });
         })
      }

      $(document).ready(function () {
         $('#example').DataTable({
            "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
            "iDisplayLength": 3
         }
         );
      });
   </script>

</body>

</html>